name: Build & Deploy GH Pages
on:
    workflow_dispatch: {}
    push:
        branches:
            - main
jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4
          - uses: oven-sh/setup-bun@v2
          - run: bun install
          - run: bun run get-latest-archive
          - run: bun run cleanup --auto-archive-path --rename-archive-dir-to=archive
          - uses: peaceiris/actions-gh-pages@v4
            with:
              github_token: ${{ secrets.GITHUB_TOKEN }}
              publish_dir: ./archives/archive